.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* CategoryPage Section Starts */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}
.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.card {
	background-color: white;
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 1.1rem;
	padding: 1.3rem;
	border-radius: 8px;
	border: 4px solid #072227;
	box-shadow: #7fadb6a1 9px 10px 3px 0px;
	transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.card:hover {
	box-shadow: #7fadb6a1 -9px -10px 3px 0px;
	transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.h3 {
	font-weight: bold;
	color: lightslategray;
	font-size: 1.1rem;
	letter-spacing: 0.2rem;
}

.wage  {
	font-size: 1.1rem;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	margin-left: auto;
}

.image > span {
	font-size: 2rem;
	border: 1px solid rgb(194, 194, 194);
	background: #eef5f7;
	border-radius: 5px;
	padding: 2px;
}

.person {
	color: #072227;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	font-size: 1.4rem;
	letter-spacing: 0.2px;
}

.devType {
	font-size: 1.4rem;
	font-weight: bold;
	color: rgb(29, 102, 174);
	margin-bottom: 1 rem;
}

.description {
	font-size: 1rem;
	font-weight: bold;
	display: flex;
	flex-direction: column;
}

.education{
	font-size: 1rem;
	color: rgb(29, 46, 63);
	margin-bottom: 1 rem;
}

.work-history {
	font-size: 1rem;
	color: lightslategray;
	margin-bottom: 1 rem;
}

button {
	padding: 0.8rem;
	width: 100%;
	margin-top: 1.1rem;
	border: none;
	background-color: #072227;
	color: #fff;
	font-size: 1.1rem;
	border-radius: 6px;
	cursor: pointer;
	transition-duration: 0.5s;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
button:hover {
	background-color: #2b4246;
	transform: scale(0.9);
	transition-duration: 0.5s;
}

/* .figures {
	display: flex;
	justify-content: space-between;
} */

.container-app-grid {
	display: grid;
	/* flex-wrap: wrap; */
	flex-direction: row;
	justify-content: center;
	grid-template-columns: repeat(2, 1fr);
	background-color: #cbeaef;
}

/* @media only screen and (max-width: 1024px) {
    .container-app-grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        grid-template-rows: repeat(1, 1fr);  
    }
} */

@media only screen and (max-width: 767px) {
	.container-app-grid {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		/* grid-template-rows: repeat(1, 1fr); */
	}
}

/* CategoryPage Section Ends */